#div-0 { margin: 30px; }
#div-1 { margin: 30px 60px; }
#div-2 { margin: 30px 60px 90px; }
#div-0 { padding: 20px;}
#div-1 { padding-top: 20px;}
#div-3 { padding-right: 20px;}

/* other styling */
.container {
  background-color: #00bda5;
  display: inline-block;
  margin: 10px;
}
div{
    background-color:#ff7a59;
    color:#2D3E50;
    font-family: 'Arial';
    font-weight:bold;
    margin:20px;
    display:inline-block;
    text-align: center;
}
.child {
  background-color: #ff7a59;
  border-radius: 10px;
  color: #2D3E50;
  font-family: 'Arial';
	font-weight: bold;
  padding: 20px;
  display: inline-block;
  text-align: center;
}